@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-profil {
    display: flex;
    flex: 1 1 0%;
    width: auto;
    flex-grow: 1;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}
.content {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/money.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-link {
    color: white;
    margin: 10px 0 10px 0;
    display: block;
}

.login-form {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    width: 33%;
}

.register-form {
    justify-content: center;
    margin-top:auto;
    margin-bottom: auto;
    width: 40%;
    padding: 2rem 5rem 2rem 5rem;
    background-color: black;
    border-radius: 10px;
}

.nadpis h1 {
    text-align: center;
    margin: 0;
    font-family: "sans-serif", "Times New Roman";
    color: white;
}
.name {
    margin-top: 15px;
}
.userInput {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #BBBFC0;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
    margin-bottom: 0.5rem;
}

input[type=submit]:hover {
    background-color: #ccc;
}
label {
    color: white;
}

.flex-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstCol {
    margin-right: 2rem;
    width: 50%;
}

.secondCol {
    width: 50%;
    margin-left: 2rem;
}

.down {
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .login-form {
        width: 70%;
    }
    .content {
        background-color: #E2F0F5;
        background-image: none;
    }
    .flex-container {
        flex-direction: column;
        margin-top: 2rem;
    }
    .firstCol {
        width: 100%;
        margin: 0;
    }
    .secondCol {
        width: 100%;
        margin: 0;
    }
}


