
.flex-profil {
    display: flex;
    flex: 1 1 0%;
    width: auto;
    flex-grow: 1;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../img/money.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-link {
    color: white;
    margin: 10px 0 10px 0;
    display: block;
}

.login-form {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    width: 33%;
}

.register-form {
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 40%;
    padding: 2rem 5rem 2rem 5rem;
    background-color: black;
    border-radius: 10px;
}

.nadpis h1 {
    text-align: center;
    margin: 0;
    font-family: "sans-serif", "Times New Roman";
    color: white;
}

.name {
    margin-top: 15px;
}

.userInput {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 3px solid #BBBFC0;
    box-sizing: border-box;
}

.errorMessage {
    color: red;
    margin: 0;
    padding: 0;
}

.formControl {
    margin-bottom: 5px;
    padding-bottom: 20px;
    position: relative;
}

.formControl .spracaPodujatiI {
    top:43px;
}
.formControl i {
    visibility: hidden;
    position: absolute;
    top: 33px;
    right: 10px;
}

.formControl.success input[type="date"]::-webkit-inner-spin-button,
.formControl.success input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.formControl.success input, .formControl.success select {
    border-color: #2ecc71;
}
.formControl.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}
.formControl.error input, .formControl.error select {
    border-color: #e74c3c;
}
.formControl.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}
.formControl small {
    position: absolute;
    bottom: 0;
    left: 0;
}
.tlacidlo {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
    margin-bottom: 0.5rem;
}

input[type=submit]:hover {
    background-color: #ccc;
}

label {
    color: white;
    display: inline-block;
}

.flex-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.firstCol {
    margin-right: 2rem;
    width: 50%;
}

.secondCol {
    width: 50%;
    margin-left: 2rem;
}

.down {
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .login-form {
        width: 70%;
    }

    .content {
        background-color: #E2F0F5;
        background-image: none;
    }

    .flex-container {
        flex-direction: column;
        margin-top: 2rem;
    }

    .firstCol {
        width: 100%;
        margin: 0;
    }

    .secondCol {
        width: 100%;
        margin: 0;
    }
}


