<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="img/favicon.png" type="image/png">

  <title>Druhy</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script th:src="@{js/druhyAll.js}"></script>
  <link rel="stylesheet" th:href="@{css/tailwind.style.build.css}">
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body class="flex flex-col h-screen bg-gray-800 font-sans leading-normal tracking-normal overflow-x-hidden">
<header id="header">
</header>

<main class="flex flex-grow" id="main_content">
  <div class="flex flex-grow flex-col md:flex-row mt-16">
    <nav aria-label="alternative nav" id="nav">
    </nav>
    <section class="flex w-full">
      <div id="main" class="main-content bg-blue-100 flex-1 md:mt-2 pb-24 md:pb-5">
        <div class="bg-gray-800">
          <div class="rounded-tl-3xl bg-gradient-to-r from-green-900 to-gray-800 p-4 shadow text-4xl text-white">
            <h1 class="font-bold pl-2">Druhy</h1>
          </div>
        </div>
        <div class="block p-6 rounded-lg shadow-lg bg-white w-2/3 mx-auto mt-28 p-10">
          <div class="w-1/2 flex h-20 flex-initial">
            <div class="w-1/2">
              <label for="vyberDruh" class="form-label text-gray-700">Druh</label>
              <select class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-500 bg-white bg-clip-padding bg-no-repeat
                               border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                      aria-label="Default select example" id="vyberDruh">
                <option th:each="druh : ${druhyAll}" th:value="${druh}" th:text="${druh.nazov}"></option>
              </select>
            </div>

            <div class="w-1/2 flex items-center justify-end">
              <a th:href="@{/novyDruh}">
                <button type="submit" class="px-6 py-2.5 bg-red-800 text-white font-medium text-xs leading-tight
                            uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg
                                focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-lg transition duration-150 ease-in-out">
                  Nový
                </button>
              </a>
            </div>
          </div>
            <div class="w-full flex justify-between mb-6 mt-14">
              <div class="w-1/2">
                <label for="zaciatok" class="form-label text-gray-700">Začiatok</label>
                <input disabled class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-500 bg-white bg-clip-padding bg-no-repeat
                               border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                         id="zaciatok">
              </div>
              <div class="w-1/3">
                <label for="pocetCislic" class="form-label text-gray-700">Počet číslic</label>
                <input disabled type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding
                  border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="pocetCislic">
              </div>
            </div>
            <div class="w-full flex justify-between">
              <div class="w-1/2">
                <label for="koniec" class="form-label text-gray-700">Koniec</label>
                <input disabled class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-500 bg-white bg-clip-padding bg-no-repeat
                               border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       aria-label="Default select example" id="koniec">
              </div>
              <div class="w-1/3">
                <label for="minPocetTipov" class="form-label text-gray-700">Min počet tipov</label>
                <input disabled type="text" class="form-control block px-3 w-full py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding
                  border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                       id="minPocetTipov" aria-describedby="emailHelp">
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</main>
</body>
</html>