<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
<nav aria-label="menu nav"
     class="flex flex-row-reverse bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">
  <div class="flex w-full pt-2 content-center justify-between md:w-auto md:justify-end">
    <div class="flex items-center">
      <a class="text-white hover:text-gray-400 py-2 px-2" href="profile"><i class="fa fa-user fa-lg"></i>
        <div class="inline-block" th:text="${firstName}"></div>
        <div class="inline-block" th:text="${lastName}" ></div>
      </a>
      <a href="../X-Tipping" class="py-2 px-3">
        <svg class="h-8 w-8 text-white hover:text-gray-400" width="24" height="24" viewBox="0 0 24 24"
             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
             stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"/>
          <path d="M7 12h14l-3 -3m0 6l3 -3"/>
        </svg>
      </a>
    </div>
  </div>
</nav>
</body>
</html>

