<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="img/favicon.png" type="image/png">

  <title>Správca podujatí</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script th:src="@{js/podujatie.js}"></script>
  <link rel="stylesheet" th:href="@{css/tailwind.style.build.css}">
</head>
<body class="flex flex-col h-screen bg-gray-800 font-sans leading-normal tracking-normal overflow-x-hidden">
<header id="header">
</header>


<main class="flex flex-grow">
  <div class="flex flex-grow flex-col md:flex-row mt-16">
    <nav aria-label="alternative nav" id="nav">
    </nav>
    <section class="flex flex-grow w-auto">
      <div id="main" class="main-content bg-blue-100 flex-1 md:mt-2 pb-24 md:pb-5">

        <div class="bg-gray-800">
          <div class="rounded-tl-3xl bg-gradient-to-r from-green-900 to-gray-800 p-4 shadow text-4xl text-white">
            <h1 class="font-bold pl-2">Podujatie</h1>
          </div>
        </div>

        <div class="block p-6 rounded-lg shadow-lg bg-white w-2/3 mx-auto mt-16 flex-row">
          <div class="flex justify-center items-center mb-16">
            <div>
              <h1 th:text="${tipping.name}" class="text-5xl font-bold"></h1>
            </div>
            <div class="ml-8">
              <a th:href="@{/tipuj}" th:disabled="${!bean.tipPovoleny()}" id="linkTipuj">
                <button type="button" class="px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-800 hover:shadow-lg
                                      focus:bg-green-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition  duration-150  ease-in-out
                                      ml-1" id="tipujButton" th:disabled="${!bean.tipPovoleny()}">Tipuj
                </button>
              </a>
            </div>
          </div>

          <div class="text-2xl my-4">
            <div th:class="'border solid 1px w-auto py-2 pl-2 bg-' + ${bean.getFarbaZaciatok()} + '-200'">
              <h1 class="font-bold text-2xl inline-block">Začiatok: </h1>
              <h2 class="text-xl inline-block" th:text="${tipping.getBegginingScreenFormat()}"></h2>
            </div>
          </div>
          <div th:class="'text-2xl my-4 border solid 1px py-2 pl-2 bg-' + ${bean.getFarbaKoniec()} + '-200'">
            <h1 class="font-bold text-2xl inline-block">Koniec: </h1>
            <h2 class="text-xl inline-block" th:text="${tipping.getEndScreenFormat()}"></h2>
          </div>

          <div class="text-2xl border solid 1px py-2 pl-2 bg-gray-200 text-center mt-8">
            <div>
              <h1 class="font-bold text-2xl inline-block">Môj tip: </h1>
              <i th:class="${bean.getMojTip()} + '-600 fa-lg'"></i>
            </div>
          </div>
          <div class="flex justify-between text-center">
            <div class="text-2xl my-4 border solid 1px py-2 pl-2 bg-gray-200 w-[48%]">
              <h1 class="font-bold text-2xl inline-block">Počet tipujúcich: </h1>
              <h2 class="text-xl inline-block" th:text="${tipping.tips.size()}"></h2>
            </div>
            <div class="text-2xl my-4 border solid 1px py-2 pl-2 bg-gray-200 w-[48%]">
              <h1 class="font-bold text-2xl inline-block">Počet tipovaných číslic: </h1>
              <h2 class="text-xl inline-block" th:text="${tipping.druh.pocet_cislic}"></h2>
            </div>
          </div>
          <div class="text-3xl mt-4 py-2 pl-2">
            <h1 class="font-bold inline-block">Koeficienty</h1>
          </div>

          <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-center">
                    <thead class="border-b">
                    <tr>
                      <th scope="col" class="text-xl font-medium text-gray-900 px-6 py-4">
                        Od
                      </th>
                      <th scope="col" class="text-xl font-medium text-gray-900 px-6 py-4">
                        Do
                      </th>
                      <th scope="col" class="text-xl font-medium text-gray-900 px-6 py-4">
                        Koeficient
                      </th>
                    </tr>
                    </thead>
                    <tbody th:each="koeficient : ${koeficienty}">
                    <tr th:class="'border-b bg-' + ${bean.getFarbaKoeficient(koeficient)} + '-100 border-blue-200'">
                      <td class="text-base text-gray-900 font-light px-6 py-4 whitespace-nowrap" th:text="${koeficient.getKoeficientPrimaryKey().od_}"></td>
                      <td class="text-base text-gray-900 font-light px-6 py-4 whitespace-nowrap" th:text="${koeficient.do_ == 0 ? '-' : koeficient.do_}"></td>
                      <td class="text-base text-gray-900 font-light px-6 py-4 whitespace-nowrap" th:text="${koeficient.koef_}"></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
</body>
</html>