<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="img/favicon.png" type="image/png">

  <title>Správca podujatí</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script th:src="@{js/script.js}"></script>
  <link rel="stylesheet" th:href="@{css/tailwind.style.build.css}">
  <link rel="stylesheet" th:href="@{css/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="flex flex-col h-screen bg-gray-800 font-sans leading-normal tracking-normal overflow-x-hidden">
<header>
  <!--Nav-->
  <nav aria-label="menu nav"
       class="flex flex-row-reverse bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">
    <div class="flex pt-2 content-center justify-between w-auto justify-end">
      <div class="flex items-center">
        <a href="history" class="history py-2 px-3"><i
                class="fa fa-history fa-lg text-white hover:text-gray-400"></i></a>
        <a class="text-white hover:text-gray-400 py-2 px-2" href="profile">
          <i class="fa fa-user fa-lg"></i>
          <div class="inline-block" th:text="${firstName}"></div>
          <div class="inline-block" th:text="${lastName}"></div>
        </a>
        <a href="#" th:href="@{/logout}" class="py-2 px-3">
          <svg class="h-8 w-8 text-white hover:text-gray-400" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"/>
            <path d="M7 12h14l-3 -3m0 6l3 -3"/>
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>

<!-- Modal -->
<div class="modal fade fixed top-[20%] w-[30%] h-[70%] left-[35%] outline-none overflow-x-hidden hidden overflow-y-auto z-50"
     id="modal" tabindex="-1" aria-labelledby="exampleModalLongLabel" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
      <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLongLabel">
          Koeficienty
        </h5>
        <button type="button"
                class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4 h-auto">
          <div id="koeficientForm">

          </div>
        <small class="errorMessage koefErrorMessage block mb-4"></small>
        <button type="button" onclick="addKoeficient()"
                class="inline-block px-7 py-2.5 mr-2 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-700 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-dismiss="modal">
          <i class="fa fa-plus"></i> Pridaj
        </button>
        <button type="button" onclick="removeKoeficient()" id="odoberButton"
                class="inline-block px-6 py-2.5 bg-red-700 text-white font-medium text-xs leading-tight uppercase
                rounded shadow-md hover:bg-red-800 hover:shadow-lg focus:bg-red-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800
                active:shadow-lg transition duration-150 ease-in-out">
          <i class="fa fa-minus"></i> Odober
        </button>
      </div>

      <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
        <button type="button" onclick="zrusOkno()"
                class="inline-block px-6 py-2.5 bg-red-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-800 hover:shadow-lg focus:bg-red-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-dismiss="modal">
          Zruš
        </button>
        <button type="button" onclick="submitKoeficientForm()"
                class="inline-block px-6 py-2.5 bg-green-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-800 hover:shadow-lg focus:bg-green-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
          Ulož
        </button>
      </div>
    </div>
  </div>
</div>

<main class="flex flex-grow" id="main_content">
  <div class="flex flex-grow flex-col md:flex-row mt-16">
    <nav aria-label="alternative nav">
      <div class="bottom-0 md:mt-16 w-full md:w-48 fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between bg-gray-800 h-20 md:flex-grow md:relative z-10">
        <ul class="list-reset flex flex-row md:flex-col pt-3 md:py-3 px-1 md:px-2 text-center md:text-left">
          <li class="mr-3 flex-1">
            <a href="informacie"
               class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500">
              <i class="fa fa-info pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">O tipovaní</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
               class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
              <i class="fa fa-wallet pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Tipuj</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="prehlad"
               class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-green-500">
              <i class="fas fa-chart-area pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Prehľad</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
               class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
              <i class="fa fa-wallet pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Správca podujatí</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="flex flex-grow w-auto">
      <div id="main" class="main-content bg-blue-100 flex-1 md:mt-2 pb-24 md:pb-5">

        <div class="bg-gray-800">
          <div class="rounded-tl-3xl bg-gradient-to-r from-green-900 to-gray-800 p-4 shadow text-4xl text-white">
            <h1 class="font-bold pl-2">Správca podujatí</h1>
          </div>
        </div>
        <div class="block p-6 rounded-lg shadow-lg bg-white w-2/3 mx-auto mt-16">
          <form method="post" th:action="@{/save}" th:object="${tipping}" id="spravcaPodujatiForm">
            <div class="formControl" th:if="${jeNovy}">
              <label for="name" class="form-label inline-block mb-2 text-gray-700">Meno podujatia</label>
              <input type="text" th:field="*{name}" class="form-control block  w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding
                  border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                     id="name" aria-describedby="emailHelp" placeholder="Enter name of the event">
              <i class="fas fa-exclamation-circle cross spracaPodujatiI"></i>
              <small class="errorMessage" th:text="${nameErrorMessage}"></small>
            </div>
            <div class="formControl">
              <label for="begginingOfTournament" class="form-label inline-block mb-2 text-gray-700">Začiatok</label>
              <input type="datetime-local" th:field="*{beggining}" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding
                border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                     id="begginingOfTournament">
              <small class="errorMessage" th:text="${begginingErrorMessage}"></small>
            </div>
            <div class="formControl">
              <label for="endOfEvent" class="form-label inline-block mb-2 text-gray-700">Koniec</label>
              <input type="datetime-local" th:field="*{end}" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding
                  border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                     id="endOfEvent">
              <small class="errorMessage" th:text="${endErrorMessage}"></small>
            </div>
            <div class="mt-2">
              <button type="button"
                      class="px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded
                      shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none
                      focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="koeficienty">
                Koeficienty
              </button>
              <small class="errorMessage koefErrorMessage ml-2"></small>
            </div>
            <div class="formControl w-full mt-2">
              <label for="numbers" class="form-label mb-2 text-gray-700 inline-block">Vygenerované čísla</label>
              <div class="flex block" id="numbers">
                <input type="text" th:field="*{first_number}" maxlength="1" id="prveCislo" class="flex-initial w-9 px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-5
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <input type="text" th:field="*{second_number}" maxlength="1" id="druheCislo" class="flex-initial w-9 px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-5
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <input type="text" th:field="*{third_number}" maxlength="1" id="tretieCislo" class="flex-initial w-9 px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-5
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <input type="text" th:field="*{fourth_number}" maxlength="1" id="stvrteCislo" class="flex-initial w-9 px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-5
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <input type="text" th:field="*{fifth_number}" maxlength="1" id="piateCislo" class="flex-initial w-9 px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-5
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                <small class="errorMessage" th:text="${numbersErrorMessage}"></small>
                <button type="submit" onclick="return generuj();" class="px-6 py-2.5 ml-16 bg-gray-500 text-white font-medium text-xs leading-tight
                  uppercase rounded shadow-md hover:bg-gray-400 hover:shadow-lg focus:bg-gray-700 focus:shadow-lg
                    focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
                  Generuj náhodne
                </button>
              </div>
            </div>
            <button type="submit" th:text="${buttonText}" class="px-6 py-2.5 bg-green-800 text-white font-medium text-xs leading-tight uppercase
                rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0
                  active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out"></button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>
</body>
</html>