<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="img/favicon.png" type="image/png">

  <title>Správca podujatí</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" th:href="@{css/tailwind.style.build.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script th:src="@{js/tip.js}"></script>
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body class="flex flex-col h-screen bg-gray-800 font-sans leading-normal tracking-normal overflow-x-hidden">
<header>
  <!--Nav-->
  <nav aria-label="menu nav"
       class="flex flex-row-reverse bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">
    <div class="flex pt-2 content-center justify-between w-auto justify-end">
      <div class="flex items-center">
        <a href="history" class="history py-2 px-3"><i
                class="fa fa-history fa-lg text-white hover:text-gray-400"></i></a>
        <a class="text-white hover:text-gray-400 py-2 px-2" href="profile">
          <i class="fa fa-user fa-lg"></i>
          <div class="inline-block" th:text="${firstName}"></div>
          <div class="inline-block" th:text="${lastName}"></div>
        </a>
        <a href="#" th:href="@{/logout}" class="py-2 px-3">
          <svg class="h-8 w-8 text-white hover:text-gray-400" width="24" height="24" viewBox="0 0 24 24"
               stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
               stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"/>
            <path d="M7 12h14l-3 -3m0 6l3 -3"/>
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>


<main class="flex flex-grow">
  <div class="flex flex-grow flex-col md:flex-row mt-16">
    <nav aria-label="alternative nav">
      <div class="bottom-0 md:mt-16 w-full md:w-48 fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between bg-gray-800 h-20 md:flex-grow md:relative z-10">
        <ul class="list-reset flex flex-row md:flex-col pt-3 md:py-3 px-1 md:px-2 text-center md:text-left">
          <li class="mr-3 flex-1">
            <a href="informacie"
               class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-pink-500">
              <i class="fa fa-info pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">O tipovaní</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
               class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
              <i class="fa fa-wallet pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Tipuj</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="prehlad"
               class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-green-500">
              <i class="fas fa-chart-area pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Prehľad</span>
            </a>
          </li>
          <li class="mr-3 flex-1">
            <a href="#"
               class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-red-500">
              <i class="fa fa-wallet pr-0 md:pr-3"></i><span
                    class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Správca podujatí</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="flex flex-grow w-auto">
      <div id="main" class="main-content bg-blue-100 flex-1 md:mt-2 pb-24 md:pb-5">

        <div class="bg-gray-800">
          <div class="rounded-tl-3xl bg-gradient-to-r from-green-900 to-gray-800 p-4 shadow text-4xl text-white">
            <h1 class="font-bold pl-2">Tip</h1>
          </div>
        </div>
        <div class="block p-6 rounded-lg shadow-lg bg-white w-[80%] mx-auto mt-36 h-1/2 flex-row flex-grow">
          <div class="mt-10">
            <h1 th:text="${tippingAllEntity.name}" class="text-5xl text-center font-bold mb-4"></h1>
            <h3 th:text="${tippingAllEntity.getBegginingScreenFormat()} + ' - ' + ${tippingAllEntity.getEndScreenFormat()}" class="text-center mb-2"></h3>
          </div>

          <form method="post" th:object="${tip}" th:action="@{/confirmTip}" id="tipForm">
            <div class="flex flex-grow mt-8 justify-evenly">
              <div class="flex-row w-auto">

                <div class="mb-2">
                  <label for="numbers" class="form-label text-gray-700">Tipované čísla</label>
                </div>

                <div class="formControl">
                  <div class="flex" id="numbers">
                    <input type="text" th:field="*{first_number}" maxlength="1" id="prveCislo" class="w-9 form-control block px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-1
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <input type="text" th:field="*{second_number}" maxlength="1" id="druheCislo" class="w-9 form-control block px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-1
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <input type="text" th:field="*{third_number}" maxlength="1" id="tretieCislo" class="w-9 form-control block px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-1
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <input type="text" th:field="*{fourth_number}" maxlength="1" id="stvrteCislo" class="w-9 form-control block px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-1
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                    <input type="text" th:field="*{fifth_number}" maxlength="1" id="piateCislo" class="w-9 form-control block px-3 py-1.5 text-gray-700
                    bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out mr-1
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
                  </div>
                  <div class="h-10">
                    <small class="errorMessage tipSmall"></small>
                  </div>
                </div>
              </div>

              <div class="flex-row px-4 w-auto">
                <div th:class="'flex-row formControl ' + ${vkladClass}">
                  <div class="mb-2">
                    <label for="vklad" class="form-label text-gray-700">Vklad</label>
                  </div>
                  <input type="number" th:field="*{vklad}" step="0.01" min="0" max="100000"
                         class="inline-block form-control block px-3 py-1.5 text-base font-normal text-gray-700  bg-white bg-clip-padding
                                 w-60 flex-initial w-full border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                         id="vklad"/>
                  <h1 class="text-xl top-0 left-0 inline-block mt-1">&euro;</h1>
                  <div class="h-10 w-60">
                    <small class="errorMessage tipSmall" th:text="${vkladErrorMessage}"></small>
                  </div>
                  <i class="fas fa-exclamation-circle cross tipI absolute"></i>
                </div>

              </div>
              <div class="text-center mb-4">
                <input id="submitTip" type="submit" name="send" value="Odoslať" class="px-6 py-4 mt-6 ml-4 bg-green-800 text-white font-medium text-xs leading-tight uppercase
                rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:bg-green-700 focus:shadow-lg focus:outline-none focus:ring-0
                  active:bg-green-800 active:shadow-lg transition duration-150 ease-in-out inline-block">
              </div>
              </div>

          </form>
        </div>

      </div>
    </section>
  </div>
</main>
</body>
</html>